*{
  margin: 0;
  padding: 0;
}

.container{
  width: 800px;
  height: 90vh;
  padding: 10px;
  box-sizing: border-box;
  border: 5px solid black;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
  /* color: white; */
  
  display: grid;
  grid-template-areas: 
    "header header"
    "aside main"
    "nav main"
    "footer footer";
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: 0.7fr 1fr 1.3fr 0.4fr;
}

h1{
  width: fit-content;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header{
  grid-area: header;
  background-color: rgb(209, 0, 209);
}
.aside{
  grid-area: aside;
  background-color: blue;
}
.nav{
  grid-area: nav;
  background-color: red;
}
.main{
  grid-area: main;
  background-color: rgb(236, 166, 75);
}
.footer{
  grid-area: footer;
  background-color: grey;
}